doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title="Metterboard Admin"   
  
    script(type='text/javascript', src='//code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $('#formInit').on('submit', function(e) {
          e.preventDefault();
          localStorage.setItem('name', $('#inputEventName').val());
          localStorage.setItem('track', $('#inputHashtag').val());
          $.post('/init', 
            { name : $('#inputEventName').val(),
              track : $('#inputHashtag').val(),
            }
          );
        });
      });
      
      function makeAPICall(endpoint)
      {
        $.post('/' + endpoint,
          {name: localStorage.getItem('name'), track: localStorage.getItem('track')}
        );
      };

    style.
      a {
        height: 100%;
        width: 100%;
        display: block;
        text-decoration: none;
        color: black;
      }
  body
  block content
    #control-panel
      h1.
        Metterboard Admin Console
      
      h1#status

      form#formInit(name='init', action="/init", method="post")
        input#inputEventName(type="text", name="name", placeholder="Event Name")
        input#inputHashtag(type="text", name="track", placeholder="Hashtag")
        button#buttonSubmit(type="submit") submit
    
      button(type="button", onClick="makeAPICall('start')").
        start
      button(type="button", onClick="makeAPICall('kill')").
        kill    
    

