doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title="Metterboard Display"   
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/display.js')   
    script(type='text/javascript', src='//code.jquery.com/jquery-latest.min.js')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans')         
    title METTERBOARD
    link(rel='stylesheet', href='stylesheets/gumby.css')          
    link(rel='stylesheet', href='stylesheets/style.css')        

  body
    br
    br
    div(class="row tweets" id="tweets")         
