doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title="Metterboard Display"   
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/display.js')   
    script(type='text/javascript', src='//code.jquery.com/jquery-latest.min.js')
                
  title METTERBOARD
  link(rel='stylesheet', href='stylesheets/gumby.css')          
  link(rel='stylesheet', href='stylesheets/style.css')        

  body
    div(class="row leaderboard")
      div(class="twelve columns text-center")
      img(class='banner' src='together.png' padding='20px' margin='20px')
      br
      br
    div(class="row tweets" id="tweets")         
