doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title="Metterboard Queue"   
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/tweets.js')   
    script(type='text/javascript', src='/javascripts/ads.js')
    script(type='text/javascript', src='//code.jquery.com/jquery-latest.min.js')
    script.
      window.onunload(function(){io.sockets.removeAllListeners('queue')});
                
  title METTERBOARD
  link(rel='stylesheet', href='stylesheets/gumby.css')          
  link(rel='stylesheet', href='stylesheets/style.css')        

  body
    div(class="row leaderboard" id="leaderboard")
    div(class="row tweets" id="tweets")         
