doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title="Metterboard Queue"   
    script(type='text/javascript', src='/socket.io/socket.io.js')
<<<<<<< HEAD
    script(type='text/javascript', src='/javascripts/tweets.js') 
=======
    script(type='text/javascript', src='/javascripts/tweets.js')   
    //script(type='text/javascript', src='/javascripts/ads.js')
>>>>>>> 96f233294c27ed02c85b55fbd8900b91dba6bfb2
    script(type='text/javascript', src='//code.jquery.com/jquery-latest.min.js')
    script.
      window.onunload(function(){io.sockets.removeAllListeners('queue')});
                
  title METTERBOARD


  body
    div(class="row leaderboard" id="leaderboard")
    div(class="row tweets" id="tweets")         
